
<div id="tkb_public" class="col three_col last">
	
		<div class="portlet">
			<div class="portlet_head">
				<div class="portlet_title">Some of your content here</div>
			</div>
			<div class="portlet_content">
				<ul>
					<li class="external-only">
						<a href="https://www.ncbi.nlm.nih.gov">Your link #1 </a>
					</li>
					<li class="external-only">
						<a href="https://www.ncbi.nlm.nih.gov">Your link #2 </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="portlet">
			<div class="portlet_head">
				<div class="portlet_title">Links to your resources or other stuff</div>
			</div>
			<div class="portlet_content">
				<ul>
					<li class="external-only">
						<a href="https://www.ncbi.nlm.nih.gov">Your link #1 </a>
					</li>

				</ul>
			</div>
		</div>

			
	</div>
	
	<!------------------------------------------------------------------------------------------------------------ NEW SIDE BAR END --------------------------------------------------------------------------------------------------------------->
